---
interface Props {
  title: string;
}

const { title }: Props = Astro.props;
---

<header class="bg-white shadow">
  <div class="container flex mx-auto py-4 px-6">
    <h1 class="text-slate-900 text-2xl font-bold flex items-center">
      {title}
    </h1>
  </div>
</header>
